vagrant/.vagrant/machines/default/virtualbox/action_provision
vagrant/.vagrant/machines/default/virtualbox/action_set_name
vagrant/.vagrant/machines/default/virtualbox/id
vagrant/.vagrant/machines/default/virtualbox/index_uuid
vagrant/.vagrant/machines/default/virtualbox/private_key
vagrant/.vagrant/machines/default/virtualbox/action_provision
*.sol
vagrant/.vagrant/machines/dev/virtualbox/action_provision
vagrant/.vagrant/machines/dev/virtualbox/action_set_name
vagrant/.vagrant/machines/dev/virtualbox/box_meta
vagrant/.vagrant/machines/dev/virtualbox/creator_uid
vagrant/.vagrant/machines/dev/virtualbox/id
vagrant/.vagrant/machines/dev/virtualbox/index_uuid
vagrant/.vagrant/machines/dev/virtualbox/private_key
vagrant/.vagrant/machines/dev/virtualbox/synced_folders
vagrant/.vagrant/machines/dev/virtualbox/vagrant_cwd
vagrant/.vagrant/machines/stg/virtualbox/action_provision
vagrant/.vagrant/machines/stg/virtualbox/action_set_name
vagrant/.vagrant/machines/stg/virtualbox/box_meta
vagrant/.vagrant/machines/stg/virtualbox/creator_uid
vagrant/.vagrant/machines/stg/virtualbox/id
vagrant/.vagrant/machines/stg/virtualbox/index_uuid
vagrant/.vagrant/machines/stg/virtualbox/private_key
vagrant/.vagrant/machines/stg/virtualbox/synced_folders
vagrant/.vagrant/machines/stg/virtualbox/vagrant_cwd
vagrant/.vagrant/rgloader/loader.rb
